{% extends "baseadmin.html.twig" %}

{% block body %}
        <div class="align-middle">
        <h3> Nouvelle playlist : </h3>
    </div>
    {{ include ('_admin.playlists.form.html.twig') }}
{% endblock %}