{% extends "baseadmin.html.twig" %}

{% block body %}
        <div class="align-middle">
        <h3> Nouvelle formation : </h3>
    </div>
    {{ include ('_admin.formations.form.html.twig') }}
{% endblock %}
