{{ form_start(formcategorie) }}
    <div class="row">
            <div class="col">             
                <div class="row">
                    <div class="col-auto">
                        {{ form_row(formcategorie.name) }}
                    </div>

                    <div class="col">
                        {{ form_row(formcategorie.submit) }}
                    </div>  
                </div>
            </div>
    </div>
{{ form_end(formcategorie) }}